<div data-role="view" id="byLocation-view" data-id="byLocation-view"
     data-layout="main-layout" data-title="By location"
     data-show="app.byLocations.init">
    <div id="categories-holder">
        <ul data-role="listview"
                data-bind="source: countriesByLocation132"   
                data-text-field="Name"
                data-template="byLocation-template"
                >
        </ul>
    </div>
</div>
 <script id="byLocation-template" type="text/x-kendo-template">
            <div>
                <h2>#: Name #</h2>
            </div>
</script>