<div data-role="view" id="countriesByLocation-view" data-id="countriesByLocation-view"
     data-layout="main-layout" data-title="Countries by location"
     data-show="app.countriesByLocations.init">
    <div id="categories-holder">
        <ul data-role="listview"
                data-bind="source: countriesByLocations32"   
                data-text-field="Name"
                data-template="countriesByLocation-template"
                >
        </ul>
    </div>
</div>
 <script id="countriesByLocation-template" type="text/x-kendo-template">
            <div>
                <h2>#: Name #</h2>
            </div>
</script>
