<div data-role="view" id="countriesByWins-view" data-id="countriesByWins-view"
     data-layout="main-layout" data-title="Countriessss by wins"
     data-show="app.countriesByWins.init">
    <div id="categories-holder">
        <ul data-role="listview"
                data-bind="source: countriesByWin32"   
                data-text-field="Name"
                data-template="countriesByWins-template"
                >
        </ul>
    </div>
</div>
 <script id="countriesByWins-template" type="text/x-kendo-template">
            <div>
                <h2>#: Name #</h2>
            </div>
</script>
