<div data-role="view" id="categories-view" data-id="categories-view"
     data-layout="main-layout" data-title="Categories"
     data-show="app.categories.init">
    <div id="categories-holder">
        <ul data-role="listview"
                data-bind="source: continent"
                data-text-field="Name"
                data-template="continent-template"
                >
        </ul>
    </div>
</div>
 <script id="continent-template" type="text/x-kendo-template">
            <div>
                <h2>#: Name #</h2>
            </div>
</script>