<div data-role="view" id="byLocation-view" data-id="byLocation-view"
     data-layout="main-layout" data-title="Countries by location"
     data-show="app.byLocations.init">
    <div id="categories-holder">
        <ul data-role="listview"
                data-bind="source: countrieByLocationTake"   
                data-text-field="Name"
                data-template="byLocation-template"
                >
        </ul>
    </div>
</div>
 <script id="byLocation-template" type="text/x-kendo-template">
            <div>
                <h2>#: Name #</h2>
                <span>Longitude: #:Longitude#</span>
                <span>Latitude: #:Latitude#</span>
                </br>
                <span>Distance to:#:Distance#</span>
                </br>
                </br>
            </div>
</script>