<div data-role="view" id="continents-view" data-id="continents-view"
     data-layout="main-layout" data-title="Continents"
     data-show="app.continents.init">
    <div id="categories-holder">
          <select id="continents-list" data-role="dropdownlist"
                data-bind="source: continentTake, events: { change: change }"
                data-text-field="Name"
                data-value-field="Id">
        </select>
        <div id="continents-info">
            <h1 data-bind="text: selectedContinent.Name" data-align="center"></h1>            
            <ul data-role="listview" data-bind="source: selectedContinent.Countries" data-template="countries-template"></ul>                
        </div>
    </div>
</div>
