<div data-role="view" id="countries-view" data-id="countries-view"
     data-layout="main-layout" data-title="Countries"
     data-show="app.countries.init">
    <ul>
        <li>
            <a data-role="button" data-bind="events: { click: getByWins }">By wins</a>
        </li>
        <li>
            <a data-role="button" data-bind="events: { click: getByLocation }">By location</a>
        </li>
    </ul>
    <ul data-role="listview" data-bind="source: theCountries" data-template="countries-template"></ul>
</div>
